/*Aici incepe designul pentru bara de meniu*/

  
  li{
    background-color: rgb(211, 84, 91);
  }
  
  
  .nav-links{
    background-color: rgb(211, 84, 91);
  }
  
  h4{
    background-color: rgb(211, 84, 91);
  }
  
  .nav-links a{
    background-color: rgb(211, 84, 91);
  }
 