#filter-bar{
    width: 17%;
    border: solid;
    border-color: red;

  }

.filter-cell{
    display: flex;
    flex-direction: column;
    text-indent: 1em;
    font-size: 20px;
    background:rgb(211, 84, 91);
  color:#fff;
    
}

#container-articole{
    margin: 1.5em 1.5em;
    width: 80%;
    border: solid;
    border-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

#container-articole img{
  transition: 1s;
  padding: 0px;
  width: 250px;
  height: 250px;
  margin: 1em;
}

#container-articole img:hover{
  filter: contrast(100%);
  transform: scale(1.1);
}

#submit-btn{
  text-align: center;
  align-self: center;
  width: 8em;
  height: 2.5em;
  font-size: 23px;
  background:#000000;
  color:#fff;
  font-family: 'Bellota', cursive;
  border: none;
  margin: 0.3em 1.3em;
  border-radius: 2.5em;
}

.img-cell{
  display: flex;
  flex-direction: column;
}
.add-btn{
  display: flex;
  align-self: center;
  flex-direction: row;
  background:rgb(211, 84, 91);
  color:#fff;
  font-family: 'Dancing Script', cursive;
    font-size: 23px;
}

#main-articole{
  margin-top: 58px;
    display: flex;
    flex-direction: row;
  }
  .radio-input{
    display: flex;
    flex-direction: row;
    font-family: 'Bellota', cursive;
  font-size: 16px;
  text-indent: 0.5em;
  padding-left: 1em;
  background:#fff;
  color:#000000;
  }


  .gototop{
    width:50px;
    height:50px;
    line-height:50px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    text-align:center;
    background:#000000;
  color:#fff;
    position:fixed;
    bottom:20px;
    right:30px;
    border-radius:50%;
    cursor: pointer;
  }

