body{
      background-color: rgb(54, 54, 53);
      background-size:100% 100%;
      font-family:"Open Sans", sans-serif;
      overflow: auto;
  }
  a.nostyle{
      color:inherit;
      text-decoration:none;
      padding:0;
      margin:0;
  }
  div.portfoliocard{
     /* margin-top: 100px;*/
      position:relative;
      height: 95%;
      width:95%;
      background:rgba(255,255,255,1);
      border:1px solid rgba(0,0,0,0.7);
      box-shadow:0px -1px 3px rgba(0,0,0,0.1),
                  0px 2px 6px rgba(0,0,0,0.5);
      border-radius:6px;
      margin:2% ;
      margin-bottom: 2%;
  }
  div.portfoliocard div.coverphoto{
      width:100%;
      height:120px;
      background-color: antiquewhite;
      background-position:center center;
      border-top-right-radius:5px;
      border-top-left-radius:5px;
      border-bottom:3px solid rgba(0,0,0,0.1);
      box-shadow:inset 0px 3px 20px rgba(255,255,255,0.3),
                  1px 0px 2px rgba(255,255,255,0.7);
      z-index:99;
  }
  div.portfoliocard div.left_col, div.portfoliocard div.right_col{
      float:left;
      height:340px;
  }
  div.portfoliocard div.left_col{
      width:30%;
      padding-top:9em;
      box-sizing:border-box;
  }
  div.portfoliocard div.right_col{
      width:70%;
      position: relative;
      height: 70%;
      background:rgba(245,245,245,1);
      border-left:1px solid rgba(230,230,230,1);
      box-shadow:inset 0px 1px 1px rgba(255,255,255,0.7);
      margin-left:-1px;
      border-bottom-right-radius:5px;
      overflow: auto;
  }
  
  div.portfoliocard div.profile_picture{
      width:9em;
      height:9em;
      background:rgba(255,255,255,1);
      position:absolute;
      top:65px;
      left:5%;
      border-radius:100%;
      background-image: url('http://cache.spreadshirt.net/Public/Common/images/profile-pic-placeholder_130x130.png');
      background-size:100% 100%;
      padding:7px;
      border:4px solid rgba(255,255,255,1)
  }
  div.portfoliocard div.right_col h2.name{
      font-size:30px;
      font-weight:300;
      color: rgba(30,30,30,1);
      padding:0;
      margin:20px 10px 0px 30px;
      position: relative;
  }
  div.portfoliocard div.right_col h3.location{
      font-size:15px;
      font-weight:300;
      color:rgba(170,170,170,1);
      padding:0;
      margin:-5px 10px 10px 30px;
      position: relative;
  }

  
 div.portfoliocard div.following{
      margin:15px 0px 0px 35px;
      font-weight:300;
      font-size:16px;
      color:rgba(30,30,30,1);
  }
  div.portfoliocard div.follow_count{
      font-weight:400;
      font-size:25px;
      color:rgba(140,140,140,1);
  }

  
  div.following a
{
	position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 3px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #FFF;
	text-decoration: none;	
}

.img-cell{
    display: flex;
    flex-direction: column;
  }
  .delete-btn{
  width: 10em;
  display: flex;
  align-self: center;
  text-align: center;
  background:rgb(211, 84, 91);
  color:#fff;
  font-family: 'Dancing Script', cursive;
  font-size: 23px;
  }

  .favs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .favs img{
    transition: 1s;
    padding: 0px;
    width: 180px;
    height: 180px;
    margin: 1em;
  }
  
  .favs img:hover{
    filter: contrast(100%);
    transform: scale(1.1);
  }

/*#container-articole-preferate{
    width: 80%;
    border: solid;
    border-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
#container-articole-preferate img{
  transition: 1s;
  padding: 0px;
  width: 180px;
  height: 180px;
  margin: 1em;
}
#container-articole-preferate img:hover{
  filter: contrast(100%);
  transform: scale(1.1);
}*/